*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-image: url("/src/images/brasilia.jpeg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    /* background-image: url("/src/images/SP.jpg"); */
    background-position: center;
    background-size: cover;
    height: 50%;
}
h1{
    display: flex;
    flex-direction: column;
}
input, button{
    border-radius: 5px;
    margin: 2px;
    padding: 5px;
    color: black;
}
img{
    /* padding: 10px; */
    width: 100%!important;
    height: 300px;
    position: relative;
}
input{
    text-align: center;
}
p{
    color: black;
    font-size: 20px;
}
/* .map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
} */
